__pycache__
*.py[cod]

.DS_Store
Thumbs.db

*.log
*.sw*
*.bak
*.pid
*.rdb
*.old
*.vim
*.obsession*

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.run.xml
*.gz
*.bcf
*.out
*.pdf
_minted*
*~

*.pem
*.secret

.pytest_cache/
.idea/

minio_data
oof
venv

sample_output/*
!sample_output/.foo

openapi.json
openapi.md
output_markdown_file.md

build
dist
*.egg-info

*.env
!*.example.env
